/* Css start */
/* body{
    margin:0;
    padding: 0;
} */
/* .img-size{
    margin-top: 40px;
    width: 600px;
    height: 730px;
    border-radius: 8px;
    
}
.bg-custom{
    background-color: #f3f6f9;
    margin-top:40px;
    padding:40px;
    border-radius: 8px;
}
.title-cal{
    text-align: center; 
    margin-bottom: 15px;
   
}
.input-details label{
    font-size: 25px;
    
   
}
.input-details input{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
} */
/* .custom-css{
    width:400px;
    margin:0 auto;
    margin-top: 10px;
}
.input-title{
    font-size: 25px;
    margin-right: 20px;
}
.input-field{
    font-size:20px;
    width: 200px;
    padding-left: 10px;

} */
.income{
    width: 400px;
    margin: 0 auto;
}